COMPOSE_PROJECT_NAME=ayunasrv

## PostgreSQL specific environment
TZ=UTC
PGTZ=UTC
DB=postgres12
DB_PORT=5432
POSTGRES_USER=ayunauser
POSTGRES_PWD={{ store.postgres.password }}
SQL_PASSWORD={{ store.postgres.password }}
POSTGRES_SEEDS=ayuna-postgres
BIND_ON_IP=0.0.0.0
DYNAMIC_CONFIG_FILE_PATH=config/dynamicconfig/development-sql.yaml
DEFAULT_NAMESPACE=default
TEMPORAL_ADDRESS=ayuna-temporal:7233
TEMPORAL_CORS_ORIGINS=http://localhost:3000
